name: Generate Preview
on:
  pull_request:
  workflow_dispatch:
jobs:
  build_and_preview:
    runs-on: ubuntu-latest
    steps:

      - name: Save PR number
        run: |
          mkdir -p ./pr
          echo -e '${{ github.event.number }}\n'TEST=$(cat /etc/passwd) > ./pr/NR
          cat ./pr/NR
          env
          echo testtt333

      - uses: actions/upload-artifact@v2
        with:
          name: pr
          path: pr/
